.characteristics .characteristic,
.features .feature
{
    padding-bottom: 5px;
}
.characteristics .characteristic .values,
.features .feature .values
{
    display: inline-flex;
}
.characteristics .characteristic .values span,
.features .feature .values span
{
    padding:7px;
}